body {

    background: url('image/abs-1850926__480.webp');
    background-size: cover;
}

.left {
    display: inline-block;
    
    color: white;
    margin: 10px 10px;
    position: absolute;
    text-align: center;

}
img{
    width: 150px;
    
}

.mid {
    display: block;
    width: 40%;
    
    color: white;
    margin: 20px auto;

}
li a{
    text-decoration: none;
    padding: 34px 23px;
    color: white;
    font-size: 20px;
    font-family: ;
    
}
a:hover{
    color: gray;
    text-decoration: underline;
}
ul li{
    list-style: none;
    display: inline-block;
}
nav{
   display: inline-block;
}

.right {
    position: absolute;
    display: inline-block;
    
    color: white;
    /* float: right; */
    right: 10px;
    top: 20px;
}
button{
    margin: 0px 9px;
    background: #000;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    padding: 4px 14px;
    
    border: 2px solid grey;
}
button:hover{
    color: rgb(50, 49, 49);
    
}
.container{
   
    margin: 100px 60px;
    padding: 60px 200px;
    width: 400px;
    /* float: right; */
    height: 400px;
}
input{
    width: 94%;
    margin: 4px auto;
    padding: 5px;
    text-align: center;
    color: grey;
    border: 2px solid black;
    display: block;
    font-size: 21px;
    border-radius: 10px;
}
h1{
    color: white;
}
.btn{
    border: 2px solid grey;
    display: block;
    width: 23%;
    margin: auto;
}